<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>productId</key>
		<string>cardsmulti_game_frecell</string>
		<key>name</key>
		<string>FreeCell</string>
		<key>type</key>
		<string>game</string>
	</dict>
</array>
</plist>
